<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cracked Egg </key>
	<dict>
		<key>Rating</key>
		<integer>4</integer>
		<key>Locations</key>
		<array>
			<dict>
				<key>Longitude</key>
				<real>40.113639</real>
				<key>Latitude</key>
				<real>-88.224519</real>
			</dict>
			<dict>
				<key>Longitude</key>
				<real>40.117315</real>
				<key>Latitude</key>
				<real>-88.22413299999999</real>
			</dict>
		</array>
		<key>Menu</key>
		<array>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Price</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Price</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Price</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>Name</key>
				<string></string>
				<key>Description</key>
				<string></string>
				<key>Price</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>Type</key>
		<string>Breakfast</string>
	</dict>
	<key>Burrito King</key>
	<dict/>
	<key>Papa Johns</key>
	<dict/>
</dict>
</plist>
